In [2]:
#Only inserting by shifting 1 by 1
def insertion_sort(arr):
  #Round-2 alone
  for i in range(0,len(arr)-1):
    for j in range(i+1,0,-1):
      count=0
      if(arr[j]<arr[j-1]):
        count=count+1
        arr[j],arr[j-1]=arr[j-1],arr[j]
      if count==0:
        break
  return arr

  pass

In [20]:
#Shifting all elements and inserting the number in the correct position
def insertion_sort_mod(arr):
  for i in range(1,len(arr)):
    current_element=arr[i]
    for j in range(i-1,-1,-1):
      if(current_element>arr[j]):
        break
      else:
        arr[j+1]=arr[j]
      arr[j]=current_element
  return arr
  pass

In [3]:
print(insertion_sort([12,25,11,34,90,22]))

[11, 12, 22, 25, 34, 90]

In [21]:
print(insertion_sort_mod([12,25,11,34,90,22]))

[11, 12, 22, 25, 34, 90]